
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}




<div class="row g-3 my-2">
    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2">720</h3>
                <p class="fs-5">Products</p>
            </div>
            <i class="fas fa-gift fs-1 primary-text border rounded-full secondry-bg p-3"></i>

        </div>
    </div>

    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2">720</h3>
                <p class="fs-5">Products</p>
            </div>
            <i class="fas fa-gift fs-1 primary-text border rounded-full secondry-bg p-3"></i>

        </div>
    </div>

    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2">720</h3>
                <p class="fs-5">Products</p>
            </div>
            <i class="fas fa-gift fs-1 primary-text border rounded-full secondry-bg p-3"></i>

        </div>
    </div>

    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2">720</h3>
                <p class="fs-5">Products</p>
            </div>
            <i class="fas fa-gift fs-1 primary-text border rounded-full secondry-bg p-3"></i>

        </div>
    </div>

    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2">720</h3>
                <p class="fs-5">Products</p>
            </div>
            <i class="fas fa-gift fs-1 primary-text border rounded-full secondry-bg p-3"></i>

        </div>
    </div>

</div>