
@{
    ViewBag.Title = "Roomno";
    Layout = "~/Views/Shared/_Layout3s.cshtml";
}

<div>
    <div class="container">
        @using (Html.BeginForm())
        {

            


        <div class="form-row">
            <div class="col-lg-7">
                @Html.TextBox("roomNo")

            </div>
            <div class="col-lg-7">
                <input type="submit" value="Login" class="btn1 mt-3 mb-4">

            </div>
        </div>

         }

            
        </div>
    </div>

